
/**********************/
/***  Media Queries ***/
/**********************/

/**********************//**********************//**********************//**********************/

@media (max-width: 321px) {
    .oc {
        top: 150px;
    }
    .step,
    .complete {
        width: 75%;
        padding: 30px 15px;
    }
    ul {
        padding: 0px;
    }
}

/**********************//**********************//**********************//**********************/

@media (min-width: 322px) and (max-width: 480px) {
    .oc {
        top: 150px;
    }
    .step,
    .complete {
        width: 60%;
        padding: 30px;
    }
    ul {
        padding: 0px;
    }
}

/**********************//**********************//**********************//**********************/

@media (min-width: 481px) and (max-width: 560px) {
    .oc {
        top: 120px;
    }
    .step,
    .complete {
        width: 45%;
        padding: 45px;
    }
}

/**********************//**********************//**********************//**********************/

@media (min-width: 561px) and (max-width: 767px) {
    .oc {
        top: 120px;
    }
    .step,
    .complete {
        width: 40%;
    }
}

/**********************//**********************//**********************//**********************/

@media (min-width: 768px) and (max-width: 1080px) {
    .step,
    .complete {
        width: 35%;
    }
}

